<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sinaBlogMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0400FDD81D630A03001F72F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0400FDF11D630A03001F72F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0400FDFC1D630A04001F72F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
