<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Card10ImageBottomInsert</key>
	<real>8</real>
	<key>Card10ImageLeftInsert</key>
	<real>8</real>
	<key>Card10ImageSize</key>
	<integer>70</integer>
	<key>Card10ImageTextInsert</key>
	<integer>12</integer>
	<key>Card10ImageTopInsert</key>
	<real>8</real>
	<key>Card10SubTextSize</key>
	<real>13</real>
	<key>Card10TextPadding</key>
	<real>10</real>
	<key>Card10TextSize</key>
	<integer>15</integer>
	<key>Card16ButtonHeight</key>
	<integer>40</integer>
	<key>Card16ButtonsInsert</key>
	<integer>0</integer>
	<key>Card16ImageLeftInsert</key>
	<integer>0</integer>
	<key>Card16ImageSize</key>
	<integer>24</integer>
	<key>Card16ImageTextInsert</key>
	<integer>12</integer>
	<key>Card16TextSize</key>
	<integer>16</integer>
	<key>Card17ButtonHeight</key>
	<integer>44</integer>
	<key>Card17IconHeight</key>
	<integer>12</integer>
	<key>Card17IconWidth</key>
	<integer>24</integer>
	<key>Card17SeparatorPaddingV</key>
	<real>6</real>
	<key>Card17TextIconInsert</key>
	<real>8</real>
	<key>Card17TextLeftInsert</key>
	<integer>12</integer>
	<key>Card17TextSize</key>
	<integer>15</integer>
	<key>Card19ButtonHeight</key>
	<integer>80</integer>
	<key>Card19ContentBottomInsert</key>
	<real>0</real>
	<key>Card19ContentTopInsert</key>
	<integer>13</integer>
	<key>Card19ImageSize</key>
	<integer>36</integer>
	<key>Card19ImageTextInsert</key>
	<integer>0</integer>
	<key>Card19TextSize</key>
	<integer>12</integer>
	<key>Card2001CardHeight</key>
	<real>38</real>
	<key>Card2001TextArrowInsert</key>
	<real>5</real>
	<key>Card2001TextSize</key>
	<real>14</real>
	<key>Card20CardHeight</key>
	<integer>40</integer>
	<key>Card20IconSize</key>
	<real>18</real>
	<key>Card20IconTextInsert</key>
	<real>6</real>
	<key>Card20SeparatorHeight</key>
	<real>26</real>
	<key>Card20TextSize</key>
	<real>16</real>
	<key>Card21BottomWithLabel</key>
	<real>32</real>
	<key>Card21BottomWithoutLabel</key>
	<integer>10</integer>
	<key>Card21ImageSize</key>
	<real>64</real>
	<key>Card21ImageTextInsert</key>
	<real>9</real>
	<key>Card21ImagesInsert</key>
	<real>8</real>
	<key>Card21TextSize</key>
	<integer>15</integer>
	<key>Card21TopInsert</key>
	<real>8</real>
	<key>Card22ImageHeight</key>
	<integer>86</integer>
	<key>Card23CardHeight</key>
	<integer>50</integer>
	<key>Card23ContentRightInsert</key>
	<integer>16</integer>
	<key>Card23SeparatorPadding</key>
	<integer>11</integer>
	<key>Card23SubTextSize</key>
	<real>12</real>
	<key>Card23TextSize</key>
	<integer>15</integer>
	<key>Card23TwoTextInsert</key>
	<integer>5</integer>
	<key>Card24ImageBottomInsert</key>
	<integer>8</integer>
	<key>Card24ImageLeftInsert</key>
	<integer>12</integer>
	<key>Card24ImageSize</key>
	<integer>36</integer>
	<key>Card24ImageTopInsert</key>
	<integer>10</integer>
	<key>Card24ImagesInsert</key>
	<real>7</real>
	<key>Card27BottomBarHeight</key>
	<real>34</real>
	<key>Card27SubTextInsert</key>
	<real>10</real>
	<key>Card27SubTextLabelWidth</key>
	<integer>296</integer>
	<key>Card27SubTextSize</key>
	<integer>14</integer>
	<key>Card27TextInsert</key>
	<integer>10</integer>
	<key>Card27TextSize</key>
	<integer>15</integer>
	<key>Card2AppsViewHeight</key>
	<real>50</real>
	<key>Card2SeparatorHeight</key>
	<real>30</real>
	<key>Card2SubTextSize</key>
	<integer>12</integer>
	<key>Card2TextSize</key>
	<integer>15</integer>
	<key>Card2TextsInsert</key>
	<integer>1</integer>
	<key>Card35ButtonSize</key>
	<integer>94</integer>
	<key>Card35ButtonTextInsert</key>
	<integer>7</integer>
	<key>Card35ButtonsInsert</key>
	<integer>7</integer>
	<key>Card35TextLabelHeight</key>
	<integer>32</integer>
	<key>Card35ButtonLeft</key>
	<integer>12</integer>
	<key>Card3BottomInsertWithLabel</key>
	<integer>32</integer>
	<key>Card3BottomInsertWithoutLabel</key>
	<real>8</real>
	<key>Card3ImageSize</key>
	<real>64</real>
	<key>Card3ImagesInsert</key>
	<real>8</real>
	<key>Card3TextSize</key>
	<integer>15</integer>
	<key>Card3TopInsert</key>
	<integer>7</integer>
	<key>Card4CardHeight</key>
	<integer>44</integer>
	<key>Card4FlagImageRightInsert</key>
	<integer>10</integer>
	<key>Card4FlagImageSize</key>
	<integer>24</integer>
	<key>Card4SubTextSize</key>
	<integer>12</integer>
	<key>Card4TextSize</key>
	<real>16</real>
	<key>Card4TwoTextInsert</key>
	<integer>6</integer>
	<key>Card6ButtonHeight</key>
	<integer>40</integer>
	<key>Card6TextSize</key>
	<real>14</real>
	<key>Card6TextArrowPadding</key>
	<integer>6</integer>
	<key>Card7BottomInsert</key>
	<integer>8</integer>
	<key>Card7LineSpaceY</key>
	<real>10</real>
	<key>Card7MaxNumberOfLines</key>
	<integer>3</integer>
	<key>Card7SubTextSize</key>
	<real>10</real>
	<key>Card7TextFieldWidth</key>
	<real>296</real>
	<key>Card7TextSize</key>
	<real>15</real>
	<key>Card7TitleBottomPadding</key>
	<real>10</real>
	<key>Card7TitleSize</key>
	<real>12</real>
	<key>Card7TopInsert</key>
	<real>8</real>
	<key>Card8BottomInsert</key>
	<real>8</real>
	<key>Card8ImageSize</key>
	<integer>70</integer>
	<key>Card8ImageTextInsert</key>
	<integer>10</integer>
	<key>Card8SubTextSize</key>
	<real>12</real>
	<key>Card8SubTitleSize</key>
	<integer>12</integer>
	<key>Card8TextSize</key>
	<real>15</real>
	<key>Card8TitleImageInsert</key>
	<integer>8</integer>
	<key>Card8TitleSize</key>
	<integer>12</integer>
	<key>Card8TopInsert</key>
	<integer>8</integer>
	<key>CardMultiCardTitleSize</key>
	<integer>12</integer>
	<key>CardMultiCardTitleTopInsert</key>
	<integer>8</integer>
	<key>CardMultiCardTitleViewHeight</key>
	<integer>22</integer>
	<key>PageSpecialVerificationHeight</key>
	<integer>30</integer>
	<key>PageSpecialVerificationTextSize</key>
	<real>12</real>
	<key>Card22ImageWidth</key>
	<integer>320</integer>
	<key>Card39ImageHeight</key>
	<string>82</string>
	<key>Card39ImageWidth</key>
	<string>306</string>
	<key>Card56ContentHeight</key>
	<string>200</string>
	<key>Card57ContentHeight</key>
	<string>119</string>
	<key>Card58ContentHeight</key>
	<string>32</string>
</dict>
</plist>
