<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&lt;p&gt;&lt;b&gt;cell1写在前面：&lt;/b&gt;传统竞争对手日渐退出历史舞台，实时信息传播影响力无可比拟，信息流广告价值日得到金主的肯定，新兴业务布局有条不紊。这样的形势下，新浪微博过去这一年可以说是成功的。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell2大洋彼岸那家叫Twitter的公司，公认的微博客鼻祖，近年来在市场和用户层面低迷的表现似乎给外界灌输了一种不安的情绪，微博客产品的未来会好么？作为国内最近似Twitter的新浪微博，自然躲不过唱衰之声的疑云罩城，有的人很早就开始等待所谓的“那最后的靴子”何时落下。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell3然而，落下的不是靴子或者稻草，微博最新财报数据出炉，拣重要的说——Q4盈利3290万，同比涨258%，连续5季度盈利，日活用户1.06亿，再度破亿。用可喜的财报成绩单撩拨开罩城的疑云，映入眼帘的则是新浪微博独自演绎的一部双城记，两座城，代表着孤独与喧嚣。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell4&lt;b&gt;孤独之城，一首关于基因的赞歌&lt;/b&gt;&lt;/p&gt;</string>
	<string>&lt;p&gt;cell5古之剑客有独孤求败之盛名，而所谓孤独之于微博，是谓实时社交的产品基因所致。&lt;b&gt;实时社交的先天属性赋予了微博诞生初期的辉煌，在移动互联大潮的残酷红海中也让微博独善其身保持着影响力。&lt;/b&gt;&lt;/p&gt;</string>
	<string>&lt;p&gt;cell6这是一种怎样的孤独？&lt;/p&gt;</string>
	<string>&lt;p&gt;cell7首先，前不久的CNNIC报告中新浪微博已经成为微博的代名词，在综合社交应用中使用率达到33.5%；此前的CNNIC报告中提及微博，微博并不唯一指代新浪微博，这个称谓定义上的变化背后的意义再明显不过。旧事重提一下，在微博市场洗牌期到来时，搜狐、网易、腾讯等公司对微博的投入力度陆续减少，网易微博迁并入LOFTER、腾讯撤销微博事业部、比起这两家，搜狐张朝阳曾放话要超越新浪微博，但始终是雷声大雨点小，戏剧的是最后张朝阳不得不回归新浪微博发声。&lt;b&gt;对手退场后的场面，CTR的最新数据很说明问题，他们对今年春晚的传播情况进行了监测，在8点到9点之间，互联网上所有关于春晚的提及（讨论）中，微博竟然占到了99.9%&lt;/b&gt;&lt;/p&gt;</string>
	<string>&lt;p&gt;cell8其次，从品牌营销青睐度看，或许你会觉得如今微博营销早已不再昔日趋之若鹜的辉煌，但去年底有一个数据却颇为惊人——根据TMA移动营销奖项组委会披露，TMA入围案例微博使用率为33%，而最终获得金银铜奖的案例中，微博的使用比例高达62%。不是微信、不是其它，仍旧是微博，它仍旧是企业社会化营销首选平台。无独有偶，近日尼尔森《社交网络影响力和商业价值解读》报告也证明了这个立场，微博营销受益于多年的试验耕耘，已形成了多样的形式，并积累了众多成熟的操作方法，所解决的营销需求覆盖新品首发、重大促销、限时抢购、重大联合推广、明星代言等重要时间点的事件的传播。根据微博白皮书的数据，已有近百万认证企业用户入驻微博，覆盖粉丝人数近6.6亿。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell9彼得·蒂尔在《从0到1》中反复阐释一句话——失败者才去竞争，创新者才去垄断。之于微博现状，这话我愿意理解为，微博有自己孤独的资本，创新是一个过程，而不是一个结论，你的孤独程度取决于你为你的消费者、用户带来市场独有的、其他企业无法企及的产品或者独到的价值形态。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell10&lt;b&gt;喧嚣之城，一遭关于跋涉的苦旅&lt;/b&gt;&lt;/p&gt;</string>
	<string>&lt;p&gt;cell11所有逼近行业领先地位的互联网公司都要面临着各种来源于外部和内部的博弈和消耗，不过也驱动着这些走在浪尖的企业们兴致高昂的探索新的业务。诚然，在孤独之外，喧嚣不可避免。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell12这又是一种怎样的喧嚣？&lt;/p&gt;</string>
	<string>&lt;p&gt;cell13第一，在自媒体内容生态层面，这场争夺战中微博并不是率先发力的，无论是微信的公众号、今日头条的头条号、百度的百家号等等，微博想做好自媒体内容的阵地仅仅依靠所谓的传播优势是万万不够的。无论是所谓的自媒体3.0抑或4.0时代，各平台方都通过各种形式加大对内容作者的扶持力度，&lt;/p&gt;</string>
	<string>&lt;p&gt;cell14微博的思路是扶植各垂直行业自媒体，刺激原创内容产生，动漫、作家、股票、教育等垂直行业的内容生产者数量大幅增长。去年底的微博影响力峰会上有个数据，2015年1-11月中，平均每月活跃的内容作者达到230万，同比提升了100%；通过例如打赏、微任务等微博的平台变现工具，微博自媒体在2015年的分成收入达到了2.5亿。产品层面则推出了头条文章，进一步扩展优化微博内内容出版发布的体验。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell15基于内容领域的扩展，一方面可以提升微博生态中内容环节的优势，让微博可以给用户提供更丰富的优质内容，增加微博获取新用户的能力。可以预想的是，坐拥仅次于腾讯新闻客户端的2.36亿月活用户和更具社交传播力的信息流，微博势必将对传统新闻客户端们形成冲击。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell16第二、信息流广告方面大环境是利好的也是残酷的，微博同样面对着诸如微信、QQ空间甚至百度贴吧的竞争，今年微信信息流广告投放门槛就由20万元调整至5万元，意图明显是通过价格提升广告主的投放热情。对于微博来说，扩大自身广告曝光库存和吸引广告主是齐头并进的，产品优化可以带来信息流规模提升进而增加广告曝光库存，同时上线新的广告平台，让更多的客户可以同时投放各种品牌广告产品。微博方面的反馈是，SME客户开始投放品牌广告产品，也有相当的品牌客户开始投放以往SME客户常使用的原生广告。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell17​最近被宝能抢购万科控制权的新闻刷屏了，作为建筑行业（搬砖）的从业者和（被套牢的）股民，笔者也一直关注此事。这两天搞金融的朋友侯安扬童鞋普及了下相关知识，对事情的来龙去脉以及背景有了个更深♂入的了解，觉得受益匪浅，便画了出来。&lt;/p&gt;</string>
	<string> &lt;p&gt;cell18有的观众朋友可能刚刚打开电梯，不太熟悉设定，所以先介绍下事件的主角万科，它是王石于1984年创建的一家地产企业。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell19万科在80年代末进行了一次股改，把60%的股票给了国企，自己持有40%，大股东是深圳特发集团。王石不大量持有公司股份，受董事会全权委托运营公司，成为职业经理人。也就是将公司老板和管理者的角色分离开（中国绝大多数民营企业老板同时也就是管理者）&lt;/p&gt;</string>
	<string>  &lt;p&gt;cell20这套职业经理人制度在美国非常常见，因为很多企业第一代创始人之后子女不肖管不了公司，所以雇个能干的经理人管公司，子女只作为股东分红。最有名的比如通用的经理人杰克&amp;middot;韦尔奇。而董事会则有权利选择职业经理人。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell21深特发作为大股东并不给力，于是2000年国企华润入驻万科成为第一大股东，还购买了一些万科的资产，比如现在的华润万家以前就是万科旗下的超市。华润虽然持有大量股份，却不插手万科的事务，在万科的成长中获益颇多。&lt;/p&gt;</string>
	<string>  &lt;p&gt;cell22不过这个过程导致了万科股权的分散，给了宝能争权的可能性。万科系不过拥有万科21%的股份（华润、刘元生、万科工会委员会为一致行动人总共拥有这些股份，也可以认为这就是维持现状的万科系）。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell23宝能从2014年开始用旗下两个公司（钜盛华投资和前海人寿，统称宝能系）密谋收购万科。它从公募基金以及股市散户中收购了大量的万科股份。&lt;/p&gt;</string>
	<string> &lt;p&gt;cell24到2015年夏天宝能系买买买到10%的万科股份，12月初已经有了20%。半年时间万科的持股人数从65万下降到了33万。&lt;/p&gt;</string>
	<string> &lt;p&gt;cell25这时安邦保险出现了，短期内就持有了5%的股份。&lt;/p&gt;</string>
	<string>&lt;p&gt;cell26因为万科系只有21%的股份，所以宝能很快就能成为万科的第一大股东。如果宝能能获得30%以上的股份，便可以成为实际控制人，改变董事会结构。&lt;/p&gt;</string>
</array>
</plist>
