<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TimelineActionButtonsHeight</key>
	<string>34</string>
	<key>TimelineShadowHeight</key>
	<string>2</string>
	<key>TimelineCellPaddingHorizontal</key>
	<string>0</string>
	<key>TimelineCellPaddingVertical</key>
	<string>10</string>
	<key>TimelineAvatarViewOriginX</key>
	<string>12</string>
	<key>TimelineAvatarViewOriginY</key>
	<string>12</string>
	<key>TimelineAvatarViewHeight</key>
	<string>34</string>
	<key>TimelineAvatarFlagViewHeight</key>
	<string>15</string>
	<key>TimelineHeaderViewHeight</key>
	<string>40</string>
	<key>TimelineContentTitleViewHeight</key>
	<string>36</string>
	<key>TimelineImageViewMaxHeight</key>
	<string>157</string>
	<key>TimelineTypeTitleTextPaddingX</key>
	<string>12</string>
	<key>TimelineExtraButtonPaddingX</key>
	<string>10</string>
	<key>TimelineExtraButtonPaddingY</key>
	<string>8</string>
	<key>TimelineTimeLabelPadding</key>
	<string>21</string>
	<key>TimelineUpPadding</key>
	<string>14</string>
	<key>TimelineDownPadding</key>
	<string>10</string>
	<key>TimelineQuotedItemPadding</key>
	<string>8</string>
	<key>TimelineFalseInfoHeight</key>
	<string>24</string>
	<key>TimelineMapHeight</key>
	<string>100</string>
	<key>TimelineImagePadding</key>
	<string>5</string>
	<key>TimelineImagePaddingDetail</key>
	<string>7</string>
	<key>TimelineImageHeight</key>
	<string>76</string>
	<key>TimelineDetailImageHeight</key>
	<string>94</string>
	<key>TimelineContentInsetX</key>
	<string>12</string>
	<key>TimelineRetweetInsetX</key>
	<string>0</string>
	<key>TimelineRetweetPadding</key>
	<string>16</string>
	<key>TimelineAttachmentContentHeight</key>
	<string>20</string>
	<key>TimelineAttachmentPlaceholderHeight</key>
	<string>22</string>
	<key>TimelineTimeFontSize</key>
	<string>10</string>
	<key>TimelineAttachmentFontSize</key>
	<string>12</string>
	<key>TimelineActionButtonsFontSize</key>
	<string>14</string>
	<key>TimelineFalseInfoTextSize</key>
	<string>12</string>
	<key>TimelineTextLineSpacing</key>
	<string>5</string>
	<key>TimelineTypeTitleTextSize</key>
	<string>14</string>
	<key>TimelineNameLabelPadding</key>
	<string>13</string>
</dict>
</plist>
